**/*~
**/*.bak
**/*.out
**/*.lock
**/*.log
**/*.sqlite
**/*.swp
**/*.swo
**/**.o
**/#*#
**/Makefile
**/makefile
nbproject
/build
/dist
/.dep.inc
**/*.pro.user
/bin
/core/obj/
/lib/jsoncpp/libjsoncpp.a
/lib/jsoncpp/obj/
